.view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.graph-container {
  width: min(450px, max(300px, 30vw));
  margin: 5px;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid darkgray;
  border-radius: 5px;
}

.top-notice-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
  vertical-align: center;
}

.container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.container.local {
  border: 0.5px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  overflow-x: scroll;
  width: 100%;
  justify-content: space-between;
}

.local .graph-container {
  min-width: min(300px, max(200px, 30vw));
  aspect-ratio: 1 / 1;
}

button:disabled {
  background-color: gray;
}

#resetBtn {
  background-color: red;
}

#graph-selection {
  margin-bottom: 20px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

#graph-selection ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#graph-selection li {
  margin: 10px;
}

#graph-selection input {
  height: 30px;
  width: 45px;
  font-size: 25px;
}

#search-selection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#search-selection div {
  display: flex;
  flex-direction: row;
}

#search-selection input {
  height: 15px;
  width: 20px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 2px 16px;
  transition: 0.3s;
  max-width: 65%;
  margin-bottom: 20px;
  margin-top: 20px;
  align-self: center;
  text-align: center;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

span.node {
  vertical-align: text-top;
}

table {
  font-size: 24px;
  margin-bottom: 0;
}

table tr {
  vertical-align: middle;
}

table tr td {
  vertical-align: middle;
  padding: 0;
  border-bottom: none;
}
