.view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.graph-container {
  width: min(300px, max(250px, 25vw));
  margin: 5px;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid darkgray;
  border-radius: 5px;
}

.control-container {
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.top-notice-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  vertical-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &.global {
    flex-direction: column;
  }
}

.container.local {
  border: 0.5px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  overflow-x: scroll;
  width: 100%;
  justify-content: space-between;
}

.local .graph-container {
  min-width: min(300px, max(200px, 30vw));
  aspect-ratio: 1 / 1;
}

.btn {
  font-size: medium !important;
  &:hover {
    cursor: pointer;
    background-image: (linear-gradient(to left, #2d8fe5, #d155b8));
    transform: scale(1.2);
    cursor: pointer;
    &::before,
    &::after {
      transform: translateX(300px) skewX(-15deg);
      transition: 0.7s;
    }
  }
}

li .btn {
  height: 100px;
  width: 100px;
}

button:disabled {
  background-color: gray;
}

#graph-selection {
  margin-bottom: 20px;
}

#graph-selection ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#graph-selection li {
  margin: 10px;
  list-style-type: none; /* Remove bullets */
}

#graph-selection input {
  height: 30px;
  width: 45px;
  font-size: 25px;
}

#search-selection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#search-selection div {
  display: flex;
  flex-direction: row;
  font-size: large;
}

#search-selection input {
  height: 15px;
  width: 20px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 2px 16px;
  transition: 0.3s;
  max-width: 65%;
  margin-bottom: 20px;
  margin-top: 20px;
  align-self: center;
  text-align: center;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

span.node {
  vertical-align: text-top;
}

table {
  font-size: 24px;
  margin-bottom: 0;
}

table tr {
  vertical-align: middle;
}

table tr td {
  vertical-align: middle;
  padding: 0;
  border-bottom: none;
}

.arrow {
  width: 120px;
  height: 120px;
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 8px;
  &:hover {
    cursor: pointer;
    background-image: (linear-gradient(to left, #2d8fe5, #d155b8));
    transform: scale(1.2);
    cursor: pointer;
    &::before,
    &::after {
      transform: translateX(300px) skewX(-15deg);
      transition: 0.7s;
    }
  }

  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-color: #000;
    border-width: 2px 2px 0 0;
    position: absolute;
    transform-origin: 50% 50%;
  }

  &.left::before {
    transform: rotate(-135deg);
    margin: -15px 0 0 -10px;
  }
  &.up::before {
    transform: rotate(-45deg);
    margin: -10px 0 0 -15px;
  }
  &.down::before {
    transform: rotate(135deg);
    margin: -20px 0 0 -15px;
  }
  &.right::before {
    transform: rotate(45deg);
    margin: -15px 0 0 -20px;
  }

  &::after {
    content: "";
    display: block;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-color: #000;
    position: absolute;
    transform-origin: 50% 50%;
  }

  &.left::after {
    width: 40px;
    height: 0;
    border-width: 2px 0 0 0;
    transform: translate(-14px, -1px);
  }

  &.up::after {
    width: 0;
    height: 40px;
    border-width: 0 2px 0 0;
    transform: translate(-1px, -14px);
  }

  &.down::after {
    width: 0;
    height: 40px;
    border-width: 0 2px 0 0;
    transform: translate(-1px, -26px);
  }

  &.right::after {
    width: 40px;
    height: 0;
    border-width: 2px 0 0 0;
    transform: translate(-26px, -1px);
  }

  &.circle {
    background: rgba(233, 233, 180, 0.75);
    border-radius: 50px;
  }

  &.debug {
    outline: 1px solid darkblue;

    &::before {
      outline: 1px solid red;
    }
  }
}
